@import '../../styles/palette';
.Modal {
    @media screen and (max-width: 640px) {
        max-height: 85%;
        width: 375px;
    }
    h1 {
        color: $text2;
        padding: 5px;
        text-align: center;
        font-weight: 400;
    }
    img {
        // padding: 5px;
        // width: 20rem;
        // height: 12rem;
        height: 300px;
        max-width: 100%;
    }
    .Container {
        margin: 0 0 5rem 0;
        overflow-y: scroll;
        height: auto;
    }
    .Social {
        display: flex;
        position: absolute;
        bottom: 10px;
        color: $text;
        a {
            color: $text1;
             :hover {
                color: #F25F5C;
            }
            margin: .5rem;
        }
    }
    padding: 10px;
    position: absolute;
    z-index: 3949238941;
    top: 5rem;
    background: rgba($main, 1);
    display: flex;
    flex-direction: column;
    // margin: 25vh auto;
    // text-align: center;
    width: 550px;
    max-height: 90%;
}

.Close {
    position: absolute;
    right: 5px;
    bottom: 5px;
    background: $main;
    cursor: pointer;
    padding: .5rem;
    color: $text2;
    font-weight: 500;
    &:hover {
        color: $text;
    }
}

// .modal {
//     width: 90%;
//     background: white;
//     box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
//     position: fixed;
//     top: 20vh;
//     left: 5%;
// }
// .modal__header {
//     padding: 1rem;
//     background: #5101d1;
//     color: white;
// }
// .modal__header h1 {
//     margin: 0;
//     font-size: 1.25rem;
// }
// .modal__content {
//     padding: 1rem;
// }
// .modal__actions {
//     display: flex;
//     justify-content: flex-end;
//     padding: 1rem;
// }
// @media (min-width: 768px) {
//     .modal {
//         width: 30rem;
//         left: calc((100% - 30rem) / 2);
//     }
// }