@import './M_Experience.scss';

.Event{
    @include respond-to('medium'){
        >.dot{
            left: 50vw;
        }
        &.Edu{
            // background: red;
            >.Till{
                margin: .5rem 0 0 4rem;
            }
            >.Content{
                margin-right: 3rem;
                width: 30vw;
            }
        }
        &.Work{
            >.Till{
                // margin: 0;
                
            }
            >.Content{
                margin-left: 5rem;
                width: 30vw;
            }
        }
        &:after{
            // background: red;
            left: 51vw;
        }
    }
}