$breakpoints: (
	sm: 600,
	md: 601,
	lg: 1024,
);
$testcolor : rgba(49, 139, 61, 0.507);

// Create mixin
@mixin respond-to($breakpoint, $breakpoints: $breakpoints) {
	$breakpoint-value : map-get($breakpoints, $breakpoint);

	@if map-has-key($breakpoints,$breakpoint ){
	 @media (min-width : $breakpoint-value){
		@content;
	 }
	} @else{

		// @media (min-width: #{map-get($breakpoints, $breakpoint)}) {
			// 	@content;
			// }
			@warn "Breakpoint not set in _variables.scss";
		}
}
