@import '../../styles/palette';
#ProjSec {
    overflow: hidden;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    .Nav {
        display: flex;
        width: 40rem;
        padding: 1rem;
        margin: 1rem auto;
        background: $main;
        // background: #F25F5C;
        // border: 2px solid #F25F5C;
        box-shadow: 1px 2.5px 5px 1px $shadow;
        .Item {
            margin: auto;
            padding: 2px 1rem 2px 1rem;
            box-shadow: 1px 2.5px 5px 1px $shadow;
            background: $main;
        }
         :hover {
            background: $text;
        }
    }
    >.Container {
        background: transparent;
        width: 100%;
        height: 40rem;
        margin-left: 2rem;
        overflow-y: scroll;
        >.SelectedItem {
            padding: .5rem;
            >.Container {
                overflow-y: scroll;
                height: 95%;
                >.ScrollableImage {
                    background: gray;
                    width: 95%;
                    margin: auto;
                    height: 35%;
                }
                >.Title {
                    background: $main;
                    margin: auto;
                    margin-bottom: 3rem;
                    width: 90%;
                    color: $text1;
                }
                >.Description {
                    background: $main;
                    height: 10%;
                    text-align: left;
                    font-size: 12px;
                    margin-bottom: 3rem;
                    p {
                        font-size: 14px;
                        background: $main;
                    }
                }
                >.Goal {
                    background: $main;
                    height: 10%;
                    text-align: left;
                    font-size: 12px;
                    p {
                        font-size: 14px;
                        background: $main;
                    }
                }
            }
            .Button {
                &:hover {
                    background: $text;
                }
                padding: .2rem;
                float: left;
                background: $main;
                box-shadow: 1px 2.5px 5px 1px $shadow;
            }
            .GitHubLink {
                float: right;
                position: relative;
                box-shadow: 1px 2.5px 5px 1px $shadow;
                padding: .2rem;
            }
            flex: 1 1 10rem;
            text-align: center;
            // background: #F25F5C;
            background: $main;
            height: 95%;
            // border: 2px solid #F25F5C;
            box-shadow: 1px 2.5px 5px 1px $shadow;
            border: 1px solid $text1;
            width: 32rem;
            margin: auto;
        }
        >.Items {
            @media screen and (max-width: 640px) {
                grid-template-columns: auto auto auto;
                // grid-template-columns: repeat(auto-fill, minmax(100px, 2fr));
                overflow-x: hidden;
            }
            height: 100%;
            overflow-y: scroll;
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(246px, 1fr));
            >.Item {
                @media screen and (max-width: 640px) {
                    width: 40vw;
                    height: 15vh;
                }
                >.ItemLanguage {
                    @media screen and (max-width: 640px) {
                        width: 10vw;
                        height: 2vh;
                        h6 {
                            font-size: 10px;
                        }
                    }
                    width: 5rem;
                    height: 1.5rem;
                    background: slateblue;
                }
                >.ItemIcon {
                    img {
                        @media screen and (max-width: 640px) {
                            padding: 0;
                            width: 5vh;
                            height: 10vw;
                        }
                        padding: 5px;
                        width: 200px;
                        height: 150px;
                    }
                    margin: 1rem auto;
                }
                >.ItemTitle {
                    color: $text1;
                    margin: 1rem auto;
                    align-self: flex-end;
                }
                &:hover {
                    background: $text;
                }
                overflow: hidden;
                width: 15rem;
                text-align: center;
                margin: 5px; // background: #F25F5C;
                background: &main;
                height: 15rem;
                // border: 2px solid #F25F5C;
                box-shadow: 1px 2.5px 5px 1px $shadow;
            }
        }
    }
}