@import '../../styles/palette';
#ProjSec {
    background: rgba($background, 0.5);
    overflow: hidden;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    .sectionTitle {
        margin: 1rem;
    }
    .Nav {
        display: flex;
        width: 40rem;
        padding: 2rem;
        margin: 1rem auto;
        background: $main;
        // background: #F25F5C;
        border: 1px solid #F25F5C;
        box-shadow: 1px 2.5px 5px 1px $shadow;
        .Item {
            cursor: pointer;
            margin: auto;
            padding: 2px 1rem 2px 1rem;
            box-shadow: 1px 2.5px 5px 1px $shadow;
            background: rgba($menuitems, 0.8);
            color: white;
            // background: rgba($text, 0.5);
        }
         :hover {
            background: rgba($menuitems, 1);
        }
    }
    >.Container {
        background: transparent;
        width: 100%;
        height: 40rem;
        margin-left: 2rem;
        overflow-y: scroll;
        >.SelectedItem {
            padding: .5rem;
            >.ItemStatus {
                background: green;
                width: 25vw;
                margin: auto;
            }
            >.Container {
                overflow-y: scroll;
                height: 95%;
                margin-bottom: .5rem;
                >.ScrollableImage {
                    background: gray;
                    width: 95%;
                    margin: auto;
                    height: 35%;
                }
                >.Title {
                    background: $main;
                    margin: auto;
                    margin-bottom: 3rem;
                    width: 90%;
                    color: $text1;
                }
                >.Description {
                    background: $main;
                    height: 10%;
                    text-align: left;
                    font-size: 12px;
                    margin-bottom: 3rem;
                    p {
                        font-size: 14px;
                        background: $main;
                    }
                }
                >.Goal {
                    background: $main;
                    height: 10%;
                    text-align: left;
                    font-size: 12px;
                    p {
                        font-size: 14px;
                        background: $main;
                    }
                }
            }
            .Button {
                &:hover {
                    background: $text;
                }
                padding: .2rem;
                float: left;
                background: $main;
                box-shadow: 1px 2.5px 5px 1px $shadow;
            }
            .GitHubLink {
                float: right;
                position: relative;
                box-shadow: 1px 2.5px 5px 1px $shadow;
                padding: .2rem;
            }
            flex: 1 1 10rem;
            text-align: center;
            // background: #F25F5C;
            background: $main;
            height: 95%;
            padding-bottom: 3rem;
            // border: 2px solid #F25F5C;
            box-shadow: 1px 2.5px 5px 1px $shadow;
            border: 1px solid $text1;
            width: 35rem;
            margin: auto;
        }
        >.Items {
            @media screen and (max-width: 640px) {
                display: flex;
                // grid-template-columns: repeat(auto-fill, minmax(100px, 2fr));
                overflow-x: hidden;
            }
            height: 100%;
            overflow-y: scroll;
            display: flex;
            flex-wrap: wrap;
            // grid-template-columns: repeat(auto-fill, minmax(246px, 1fr));
            >.Item {
                @media screen and (max-width: 640px) {
                    margin-top: 5rem;
                }
                display: flex;
                flex-direction: column;
                >.ItemLanguage {}
                >.ItemStatus {
                    z-index: 1;
                    position: relative;
                    max-width: 600px;
                    width: 90%;
                    height: 400px;
                }
                >.ItemIcon {
                    cursor: pointer;
                    position: absolute;
                    z-index: -1;
                    overflow: hidden;
                    width: 20rem;
                    img {
                        // padding: 5px;
                        width: 20rem;
                        height: 12rem;
                    }
                    // margin: 1rem auto;
                }
                >.ItemTitle {
                    margin: 12rem 0 0 0;
                    h6 {
                        font-weight: 500;
                        color: rgba($text1, 0.8);
                    }
                }
                &:hover {
                    // background: rgba($main, 0.6);
                    h6 {
                        font-weight: 900;
                        color: rgba($text1, 1);
                    }
                }
                // overflow: hidden;
                width: 20rem;
                text-align: center;
                margin: 5px 0 0 5rem; // background: #F25F5C;
                background: $main;
                height: 28rem;
                position: relative;
                // border: 2px solid #F25F5C;
                //border: 4px solid black;
                box-shadow: 4px 4.5px 5px 1px black;
            }
        }
    }
}

.Quick_Links {
    margin-top: 1rem;
    p {
        color: $text1;
        font-weight: 600;
    }
}

.QuickInfo_Content {
    >.Langs {
        display: flex;
        overflow: hidden;
        width: 10rem;
        height: 3.5rem;
        background: $main;
        // background: red;
        // border: 2px solid #F25F5C;
        // box-shadow: 1px 2.5px 5px 1px $shadow;
        margin: 0 0 0 1rem;
        >p {
            color: rgba($text1, 1);
            margin-right: 1rem;
            // margin: 1rem 1rem 0 1rem;
            // box-shadow: 1px 2.5px 5px 1px $shadow;
            padding: .5rem;
            // background: inherit;
            // border-radius: 25px;
            // &:hover {
            //     color: rgba($text1, 1);
            //     // background: red;
            // }
        }
    }
    >.Links {
        overflow: hidden;
        width: 13rem;
        bottom: 5px;
        left: 5px;
        h5 {
            color: $text1;
            position: absolute;
            left: 40%;
            bottom: 4rem;
        }
        // position: relative;
        a {
            bottom: 5px;
            left: 1.5rem;
            position: absolute;
            color: rgba($text1, 0.8);
            &:hover {
                cursor: pointer;
                color: rgba($text1, 1);
            }
        }
    }
}

@import url(https://fonts.googleapis.com/css?family=Lato:700);
// body {
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     min-height: 100vh;
//     background: #f0f0f0;
// }
.ribbon {
    position: absolute;
    right: -5px;
    top: -5px;
    z-index: 0;
    overflow: hidden;
    width: 75px;
    height: 75px;
    text-align: right;
}

.ribbon span {
    font-size: 10px;
    font-weight: bold;
    color: #FFF;
    text-transform: uppercase;
    text-align: center;
    line-height: 20px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    width: 100px;
    display: block;
    background: $highlight;
    // background: linear-gradient(#9BC90D 0%, #re 100%);
    box-shadow: 0 3px 10px -5px rgba(0, 0, 0, 1);
    position: absolute;
    top: 19px;
    right: -21px;
}

.ribbon span::before {
    content: "";
    position: absolute;
    left: 0px;
    top: 100%;
    z-index: -1;
    border-left: 3px solid #79A70A;
    border-right: 3px solid transparent;
    border-bottom: 3px solid transparent;
    border-top: 3px solid #79A70A;
}

.ribbon span::after {
    content: "";
    position: absolute;
    right: 0px;
    top: 100%;
    z-index: -1;
    border-left: 3px solid transparent;
    border-right: 3px solid #79A70A;
    border-bottom: 3px solid transparent;
    border-top: 3px solid #79A70A;
}