        #ProjSec {
            height: 100%;
            >.Nav {
                background: rgba(245, 245, 220, 0.472);
                color: black;
                text-align: center;
                float: left;
                margin: 1rem 0rem 0rem 5rem;
                width: 12rem;
                height: 50%;
                border: .2rem solid white;
            }
            >.Container {
                background: rgba(245, 245, 220, 0.472);
                float: right;
                width: 100rem;
                margin: 1rem 0rem 0rem 0rem;
                height: 95%;
                overflow-x: hidden;
                overflow-y: scroll;
                padding-bottom: 1rem;
                >.Items {
                    scrollbar-color: red;
                    // display: flex;
                    // flex-wrap: wrap;
                    display: grid;
                    grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
                    >.Item {
                        >.ItemLanguage {
                            position: absolute;
                            width: 2.5rem;
                            background: blue;
                        }
                        >.ItemIcon {
                            margin-top: 2.5rem;
                        }
                        >.ItemTitle {
                            color: pink;
                            margin-top: 2.5rem;
                        }
                        flex: 1 1 10rem;
                        width: 10rem;
                        text-align: center;
                        height: 10rem;
                        margin: 1rem 0rem 0rem 1rem;
                        background: transparent;
                        border: 1px solid black;
                    }
                }
            }
        }