@import '../../styles/palette';
#ProjSec {
    overflow: hidden;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    .Nav {
        display: flex;
        width: 40rem;
        padding: 1rem;
        margin: 1rem auto;
        background: $main;
        background: #F25F5C;
        border: 2px solid #F25F5C;
        box-shadow: 1px 2.5px 5px 1px $shadow;
        .Item {
            margin: auto;
            padding: 2px 1rem 2px 1rem;
            box-shadow: 1px 2.5px 5px 1px $shadow;
            background: $main;
        }
         :hover {
            background: $text;
        }
    }
    >.Container {
        background: transparent;
        width: 100%;
        height: 40rem;
        margin-left: 2rem;
        overflow-y: scroll;
        >.SelectedItem {
            padding: .5rem;
            >.ItemStatus {
                background: green;
                width: 25vw;
                margin: auto;
            }
            >.Container {
                overflow-y: scroll;
                height: 95%;
                margin-bottom: .5rem;
                >.ScrollableImage {
                    background: gray;
                    width: 95%;
                    margin: auto;
                    height: 35%;
                }
                >.Title {
                    background: $main;
                    margin: auto;
                    margin-bottom: 3rem;
                    width: 90%;
                    color: $text1;
                }
                >.Description {
                    background: $main;
                    height: 10%;
                    text-align: left;
                    font-size: 12px;
                    margin-bottom: 3rem;
                    p {
                        font-size: 14px;
                        background: $main;
                    }
                }
                >.Goal {
                    background: $main;
                    height: 10%;
                    text-align: left;
                    font-size: 12px;
                    p {
                        font-size: 14px;
                        background: $main;
                    }
                }
            }
            .Button {
                &:hover {
                    background: $text;
                }
                padding: .2rem;
                float: left;
                background: $main;
                box-shadow: 1px 2.5px 5px 1px $shadow;
            }
            .GitHubLink {
                float: right;
                position: relative;
                box-shadow: 1px 2.5px 5px 1px $shadow;
                padding: .2rem;
            }
            flex: 1 1 10rem;
            text-align: center;
            // background: #F25F5C;
            background: $main;
            height: 95%;
            padding-bottom: 3rem;
            // border: 2px solid #F25F5C;
            box-shadow: 1px 2.5px 5px 1px $shadow;
            border: 1px solid $text1;
            width: 35rem;
            margin: auto;
        }
        >.Items {
            @media screen and (max-width: 640px) {
                display: flex;
                // grid-template-columns: repeat(auto-fill, minmax(100px, 2fr));
                overflow-x: hidden;
            }
            height: 100%;
            overflow-y: scroll;
            display: flex;
            // grid-template-columns: repeat(auto-fill, minmax(246px, 1fr));
            >.Item2 {
                @media screen and (max-width: 640px) {
                    width: 40vw;
                    height: 15vh;
                }
                >.ItemLanguage {
                    display: inline-block;
                    @media screen and (max-width: 640px) {
                        width: 10vw;
                        height: 2vh;
                        h6 {
                            font-size: 10px;
                        }
                    }
                    float: left;
                    width: 5rem;
                    height: 1.5rem;
                    background: slateblue;
                }
                >.ItemStatus {
                    width: 5rem;
                    background: green;
                    float: right;
                }
                >.ItemIcon {
                    img {
                        @media screen and (max-width: 640px) {
                            padding: 0;
                            width: 5vh;
                            height: 10vw;
                        }
                        cursor: pointer;
                        padding: 5px;
                        width: 200px;
                        height: 150px;
                    }
                    margin: 1rem auto;
                }
                >.ItemTitle {
                    color: $text1;
                    margin: 1rem auto;
                    align-self: flex-end;
                }
                &:hover {
                    background: $text;
                }
                overflow: hidden;
                width: 15rem;
                text-align: center;
                margin: 5px; // background: #F25F5C;
                background: &main;
                height: 15rem;
                // border: 2px solid #F25F5C;
                box-shadow: 1px 2.5px 5px 1px $shadow;
            }
            >.Item {
                display: flex;
                flex-direction: column;
                >.ItemLanguage {}
                >.ItemStatus {
                    position: relative;
                    max-width: 600px;
                    width: 90%;
                    height: 400px;
                }
                >.ItemIcon {
                    cursor: pointer;
                    img {
                        padding: 5px;
                        width: 200px;
                        height: 150px;
                    }
                    margin: 1rem auto;
                }
                >.ItemTitle {}
                &:hover {}
                // overflow: hidden;
                width: 15rem;
                text-align: center;
                margin: 5px; // background: #F25F5C;
                background: &main;
                height: 15rem;
                position: relative;
                // border: 2px solid #F25F5C;
                box-shadow: 1px 2.5px 5px 1px $shadow;
            }
        }
    }
}

@import url(https://fonts.googleapis.com/css?family=Lato:700);
// body {
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     min-height: 100vh;
//     background: #f0f0f0;
// }
.ribbon {
    position: absolute;
    right: -5px;
    top: -5px;
    z-index: 1;
    overflow: hidden;
    width: 75px;
    height: 75px;
    text-align: right;
}

.ribbon span {
    font-size: 10px;
    font-weight: bold;
    color: #FFF;
    text-transform: uppercase;
    text-align: center;
    line-height: 20px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    width: 100px;
    display: block;
    background: #79A70A;
    background: linear-gradient(#9BC90D 0%, #79A70A 100%);
    box-shadow: 0 3px 10px -5px rgba(0, 0, 0, 1);
    position: absolute;
    top: 19px;
    right: -21px;
}

.ribbon span::before {
    content: "";
    position: absolute;
    left: 0px;
    top: 100%;
    z-index: -1;
    border-left: 3px solid #79A70A;
    border-right: 3px solid transparent;
    border-bottom: 3px solid transparent;
    border-top: 3px solid #79A70A;
}

.ribbon span::after {
    content: "";
    position: absolute;
    right: 0px;
    top: 100%;
    z-index: -1;
    border-left: 3px solid transparent;
    border-right: 3px solid #79A70A;
    border-bottom: 3px solid transparent;
    border-top: 3px solid #79A70A;
}