@import '../../styles/palette';
#EduSec {
    background: rgba($background, 0.6);
    @media screen and (max-width: 640px) {
        height: auto;
    }
    overflow: hidden;
    flex: 1 1 auto;
    padding-top: 5rem;
    height: 100%;
    display: flex;
    flex-direction: column;
    .sectionTitle {
        margin-bottom: 5rem;
    }
    .Container {
        @media screen and (max-width: 640px) {
            flex-direction: column;
            // overflow-y: scroll;
        }
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        >.Work {
            @media screen and (max-width: 640px) {
                margin: auto;
                width: 80vw;
            }
            // box-shadow: 1px 2.5px 5px 1px $shadow;
            width: 30rem;
            margin-left: 10rem;
            // background: $main;
            display: flex;
            flex-direction: column;
            padding-bottom: 10rem;
            .itemTitle {
                color: $text2;
                margin: auto;
                font-size: 35px;
                margin-bottom: 1rem;
            }
            >.Item {
                @media screen and (max-width: 640px) {
                    width: 60vw;
                }
                flex: 1 1 auto;
                width: 25rem;
                margin: 1rem auto;
                background: $main;
                text-align: center;
                box-shadow: 1px 2.5px 5px 1px $shadow;
                .Job {
                    color: $highlight;
                    font-size: 22px;
                }
                &:hover {
                    background: rgba($text1, 0.5);
                    color: white;
                    .Job {
                        color: white;
                    }
                }
            }
        }
        >.Education {
            @media screen and (max-width: 640px) {
                margin: auto;
                margin-bottom: 5rem;
                width: 80vw;
                padding-bottom: 2rem;
            }
            // box-shadow: 1px 2.5px 5px 1px $shadow;
            // float: right;
            // margin-right: 10rem;
            width: 30rem;
            // background: $main;
            margin-right: 10rem;
            display: flex;
            flex-direction: column;
            padding-bottom: 10rem;
            .itemTitle {
                color: $text2;
                margin: auto;
                font-size: 35px;
                margin-bottom: 1rem;
            }
            .Item {
                @media screen and (max-width: 640px) {
                    width: 60vw;
                }
                flex: 1 1 auto;
                margin: 5px;
                text-align: center;
                background: $main;
                width: 25rem;
                margin: 1rem auto;
                text-align: center;
                box-shadow: 1px 2.5px 5px 1px $shadow;
                >.Edu {
                    color: $text1;
                    font-size: 19px;
                    font-weight: 500;
                }
                &:hover {
                    // background: $text;
                    background: rgba($text1, 0.5);
                    color: white;
                    .Edu {
                        color: white;
                    }
                }
            }
        }
    }
}