/* 0, 640px */
/* 641px, 1024px */
/* 1025px, 1440px */
/* 1441px, 1920px */
/* 1921px */
#EduSec {
  background: rgba(128, 128, 128, 0.6);
  overflow: hidden;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  padding-top: 5rem;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media screen and (max-width: 640px) {
  #EduSec {
    height: auto;
  }
}

#EduSec .sectionTitle {
  margin-bottom: 5rem;
}

#EduSec .Container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (max-width: 640px) {
  #EduSec .Container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

#EduSec .Container > .Work {
  width: 30rem;
  margin-left: 10rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-bottom: 10rem;
}

@media screen and (max-width: 640px) {
  #EduSec .Container > .Work {
    margin: auto;
    width: 80vw;
  }
}

#EduSec .Container > .Work .itemTitle {
  color: #007db3;
  margin: auto;
  font-size: 35px;
  margin-bottom: 1rem;
}

#EduSec .Container > .Work > .Item {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  width: 25rem;
  margin: 1rem auto;
  background: #e9e9e9;
  text-align: center;
  -webkit-box-shadow: 1px 2.5px 5px 1px black;
          box-shadow: 1px 2.5px 5px 1px black;
}

@media screen and (max-width: 640px) {
  #EduSec .Container > .Work > .Item {
    width: 60vw;
  }
}

#EduSec .Container > .Work > .Item .Job {
  color: #be312f;
  font-size: 22px;
}

#EduSec .Container > .Work > .Item:hover {
  background: rgba(162, 62, 72, 0.5);
  color: white;
}

#EduSec .Container > .Work > .Item:hover .Job {
  color: white;
}

#EduSec .Container > .Education {
  width: 30rem;
  margin-right: 10rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-bottom: 10rem;
}

@media screen and (max-width: 640px) {
  #EduSec .Container > .Education {
    margin: auto;
    margin-bottom: 5rem;
    width: 80vw;
    padding-bottom: 2rem;
  }
}

#EduSec .Container > .Education .itemTitle {
  color: #007db3;
  margin: auto;
  font-size: 35px;
  margin-bottom: 1rem;
}

#EduSec .Container > .Education .Item {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  margin: 5px;
  text-align: center;
  background: #e9e9e9;
  width: 25rem;
  margin: 1rem auto;
  text-align: center;
  -webkit-box-shadow: 1px 2.5px 5px 1px black;
          box-shadow: 1px 2.5px 5px 1px black;
}

@media screen and (max-width: 640px) {
  #EduSec .Container > .Education .Item {
    width: 60vw;
  }
}

#EduSec .Container > .Education .Item > .Edu {
  color: #A23E48;
  font-size: 19px;
  font-weight: 500;
}

#EduSec .Container > .Education .Item:hover {
  background: rgba(162, 62, 72, 0.5);
  color: white;
}

#EduSec .Container > .Education .Item:hover .Edu {
  color: white;
}
/*# sourceMappingURL=style.css.map */