@import './../../styles/base.scss';


.Landing{
    @include respond-to('small'){
        >.Logo{
            // background: red
            margin: 25vh 0 5rem 25vw  ;
            width: 10rem;
        }
        height: 100vh;
        // background: black;
        overflow: hidden;
    }
    @include respond-to('medium'){
        // background: red;
        >.Logo{
            margin: 20vh 0 0 40vw;
        }
        
    }
    >.Intro{
        @include respond-to('small'){
        color: $M_Landing_T;
        font-weight: 200;
        font-size: 21px;
        text-shadow: -1px -1px rgba(white,0.5);
        }
    }
    list-style: none;
}   