@import 'palette';
html,
body,
#root,
#root>div {
    height: 100vh;
}

// body {
//     background: linear-gradient(45deg, rgba(254, 246, 210, 0.53) 0%, rgba(254, 246, 210, 0.53) 14.286%, rgba(221, 240, 216, 0.53) 14.286%, rgba(221, 240, 216, 0.53) 28.572%, rgba(188, 233, 223, 0.53) 28.572%, rgba(188, 233, 223, 0.53) 42.858%, rgba(156, 227, 229, 0.53) 42.858%, rgba(156, 227, 229, 0.53) 57.144%, rgba(123, 220, 235, 0.53) 57.144%, rgba(123, 220, 235, 0.53) 71.42999999999999%, rgba(90, 214, 242, 0.53) 71.43%, rgba(90, 214, 242, 0.53) 85.71600000000001%, rgba(57, 207, 248, 0.53) 85.716%, rgba(57, 207, 248, 0.53) 100.002%), linear-gradient(135deg, rgb(246, 99, 200) 0%, rgb(246, 99, 200) 12.5%, rgb(223, 98, 196) 12.5%, rgb(223, 98, 196) 25%, rgb(199, 97, 192) 25%, rgb(199, 97, 192) 37.5%, rgb(176, 96, 188) 37.5%, rgb(176, 96, 188) 50%, rgb(152, 95, 184) 50%, rgb(152, 95, 184) 62.5%, rgb(129, 94, 180) 62.5%, rgb(129, 94, 180) 75%, rgb(105, 93, 176) 75%, rgb(105, 93, 176) 87.5%, rgb(82, 92, 172) 87.5%, rgb(82, 92, 172) 100%);
// }
#wrapper {
    scroll-behavior: smooth;
    @media screen and (max-width: 640px) {
        overflow-y: scroll;
        scroll-snap-type: none;
        scroll-snap-points-y: none;
        scroll-snap-type: y none;
    }
    overflow-y: scroll;
    scroll-snap-type: proximity;
    scroll-snap-points-y: repeat(100vh);
    scroll-snap-type: y proximity;
}

#wrapper section {
    scroll-snap-align: start;
}


/* width */

::-webkit-scrollbar {
    width: 6px;
}


/* Track */

 ::-webkit-scrollbar-track {
    background: $background;
}


/* Handle */

 ::-webkit-scrollbar-thumb {
    background: $highlight;
}


/* Handle on hover */

 ::-webkit-scrollbar-thumb:hover {
    background: $text;
}

#wrapper {
    height: 100%;
}

section {
    position: relative;
    -webkit-user-select: none;
    /* Safari */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* IE10+/Edge */
    user-select: none;
    /* Standard */
    // background: linear-gradient(45deg, rgba(254, 246, 210, 0.53) 0%, rgba(254, 246, 210, 0.53) 14.286%, rgba(221, 240, 216, 0.53) 14.286%, rgba(221, 240, 216, 0.53) 28.572%, rgba(188, 233, 223, 0.53) 28.572%, rgba(188, 233, 223, 0.53) 42.858%, rgba(156, 227, 229, 0.53) 42.858%, rgba(156, 227, 229, 0.53) 57.144%, rgba(123, 220, 235, 0.53) 57.144%, rgba(123, 220, 235, 0.53) 71.42999999999999%, rgba(90, 214, 242, 0.53) 71.43%, rgba(90, 214, 242, 0.53) 85.71600000000001%, rgba(57, 207, 248, 0.53) 85.716%, rgba(57, 207, 248, 0.53) 100.002%), linear-gradient(135deg, rgb(246, 99, 200) 0%, rgb(246, 99, 200) 12.5%, rgb(223, 98, 196) 12.5%, rgb(223, 98, 196) 25%, rgb(199, 97, 192) 25%, rgb(199, 97, 192) 37.5%, rgb(176, 96, 188) 37.5%, rgb(176, 96, 188) 50%, rgb(152, 95, 184) 50%, rgb(152, 95, 184) 62.5%, rgb(129, 94, 180) 62.5%, rgb(129, 94, 180) 75%, rgb(105, 93, 176) 75%, rgb(105, 93, 176) 87.5%, rgb(82, 92, 172) 87.5%, rgb(82, 92, 172) 100%);
    // background: $background;
    // border-bottom: 1px solid red;
    height: 100%;
    .sectionTitle {
        @media screen and (max-width: 640px) {
            width: 75vw;
        }
        z-index: 5;
        margin: auto;
        // margin: 2rem 0 4rem 0;
        width: 25rem;
        font-size: 40px;
        background: $main;
        text-align: center;
        color: $text;
        padding: 1rem;
        box-shadow: 1px 2.5px 5px 1px $shadow;
    }
    .Footer {
        @media screen and (max-width: 640px) {
            margin: auto;
            margin-bottom: 1rem;
        }
        margin: auto;
        background: $main;
        width: 10rem;
        // border: 1px solid #247BA0;
        color: $text;
        text-align: center;
        box-shadow: 1px 2.5px 5px 1px $shadow;
        a {
            color: $text1;
        }
    }
}

section * {
    z-index: 5;
}

// section:nth-of-type(2) {
//     // 
//     margin-top: 10px;
// }
#landingSec {
    margin-top: -9px;
    // -webkit-box-shadow: -1px 11px 0px 0px rgba(0, 0, 0, 0.95);
    // -moz-box-shadow: -1px 11px 0px 0px rgba(0, 0, 0, 0.95);
    // box-shadow: -1px 11px 0px 0px rgba(0, 0, 0, 0.95);
    // /* background-image: linear-gradient(direction, color-stop1, color-stop2, ...); */
    // background-image: -webkit-gradient(linear, right bottom, left top, from(#2F3640), color-stop(#192A56), to(#353B48));
    // background-image: linear-gradient(to top left, #2F3640, #192A56, #353B48);
}

// Paralax background styling
@function random-color() {
    $value: "black";
    @if random(5)==1 {
        $value: "#DAF7A6";
    }
    @else if random(5)==2 {
        $value: "#FFC300";
    }
    @else if random(5)==3 {
        $value: "#FF5733";
    }
    @else if random(5)==4 {
        $value: "#82E0AA";
    }
    @else {
        $value: "#85C1E9";
    }
    @return unquote($value);
}

// n is number of stars required
@function multiple-box-shadow($n) {
    $value: "#{random(2000)}px #{random(2000)}px #{random-color()}";
    @for $i from 2 through $n {
        $value: "#{$value} , #{random(2000)}px #{random(2000)}px #{random-color()}";
    }
    @return unquote($value);
}

$shadows-small: multiple-box-shadow(700);
$shadows-medium: multiple-box-shadow(200);
$shadows-big: multiple-box-shadow(100);
.parallax {
    z-index: 3;
    #stars1 {
        width: 2px;
        height: 2px;
        border-radius: 50%;
        background: transparent;
        box-shadow: $shadows-small;
        animation: animStar 150s linear infinite;
        &:after {
            content: " ";
            position: absolute;
            top: 2000px;
            width: 2px;
            height: 2px;
            border-radius: 50%;
            background: transparent;
            box-shadow: $shadows-small;
        }
    }
    #stars2 {
        width: 3px;
        height: 3px;
        border-radius: 50%;
        background: transparent;
        box-shadow: $shadows-medium;
        animation: animStar 100s linear infinite;
        &:after {
            content: " ";
            position: absolute;
            top: 2000px;
            width: 3px;
            height: 3px;
            border-radius: 50%;
            background: transparent;
            box-shadow: $shadows-medium;
            z-index: 1;
        }
    }
    #stars3 {
        width: 4px;
        height: 4px;
        border-radius: 50%;
        background: transparent;
        box-shadow: $shadows-big;
        animation: animStar 50s linear infinite;
        &:after {
            content: " ";
            position: absolute;
            top: 2000px;
            width: 4px;
            height: 4px;
            border-radius: 50%;
            background: transparent;
            box-shadow: $shadows-big;
            z-index: -1;
        }
    }
    @keyframes animStar {
        from {
            transform: translateY(-2000px);
        }
        to {
            transform: translateY(0px);
        }
    }
}

@-webkit-keyframes scroll-inner {
    from {
        margin-top: 0%;
    }
    to {
        margin-top: 50%;
    }
}

@keyframes scroll-inner {
    from {
        margin-top: 0;
    }
    to {
        margin-top: 50%;
    }
}

@-webkit-keyframes scroll-inner-up {
    to {
        margin-top: 0%;
    }
    from {
        margin-top: 50%;
    }
}

@keyframes scroll-inner-up {
    to {
        margin-top: 0;
    }
    from {
        margin-top: 50%;
    }
}

.mouse-container {
    // position: absolute;
    bottom: 5px;
    left: 47vw;
    &.absolute {
        margin-top: 1rem;
        bottom: 2rem;
        // position: absolute;
        color: $text1;
        .mouse {
            border: solid 2px grey;
            .scroll-down {
                background: grey;
            }
        }
    }
    &.edu {
        bottom: 5rem;
        margin-top: 1rem;
        color: white;
        .mouse {
            border: solid 2px $main;
            .scroll-up {
                background: $main;
            }
        }
    }
    color: red;
    text-align: center;
}

.mouse {
    position: relative;
    margin: 0 auto;
    display: block;
    width: 35px;
    height: 35px;
    border: solid 2px $text1;
    border-radius: 25px;
    // -webkit-animation: scroll-mouse 1.5s;
    // animation: scroll-mouse 1.5s;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    //-webkit-animation-timing-function:ease;
    //animation-timing-function:ease;
    >.scroll-down {
        display: block;
        width: 10px;
        height: 10px;
        background: $highlight;
        border-radius: 50%;
        margin: 15% auto auto auto;
        -webkit-animation: scroll-inner 1.5s;
        animation: scroll-inner 1.5s;
        -webkit-animation-iteration-count: infinite;
        animation-iteration-count: infinite;
        -webkit-animation-timing-function: ease;
        animation-timing-function: ease
    }
    >.scroll-up {
        display: block;
        width: 10px;
        height: 10px;
        background: $highlight;
        border-radius: 50%;
        margin: 15% auto auto auto;
        -webkit-animation: scroll-inner-up 1.5s;
        animation: scroll-inner-up 1.5s;
        -webkit-animation-iteration-count: infinite;
        animation-iteration-count: infinite;
        -webkit-animation-timing-function: ease;
        animation-timing-function: ease
    }
}