@import './mobile.scss';
// ----------------------------------------------------------------------------
//Base Colors
// ----------------------------------------------------------------------------
$main: black; //Basic all around color
// $appBackground:linear-gradient(336deg, rgba(121, 121, 121, 0.06) 0%, rgba(121, 121, 121, 0.06) 82%,rgba(125, 125, 125, 0.06) 82%, rgba(125, 125, 125, 0.06) 100%),linear-gradient(54deg, rgba(15, 15, 15, 0.01) 0%, rgba(15, 15, 15, 0.01) 57%,rgba(204, 204, 204, 0.01) 57%, rgba(204, 204, 204, 0.01) 100%),linear-gradient(174deg, rgba(151, 151, 151, 0.02) 0%, rgba(151, 151, 151, 0.02) 87%,rgba(226, 226, 226, 0.02) 87%, rgba(226, 226, 226, 0.02) 100%),linear-gradient(224deg, rgba(4, 4, 4, 0.02) 0%, rgba(4, 4, 4, 0.02) 15%,rgba(232, 232, 232, 0.02) 15%, rgba(232, 232, 232, 0.02) 100%),linear-gradient(215deg, rgba(5, 5, 5, 0.05) 0%, rgba(5, 5, 5, 0.05) 32%,rgba(97, 97, 97, 0.05) 32%, rgba(97, 97, 97, 0.05) 100%),linear-gradient(317deg, rgba(22, 22, 22, 0.06) 0%, rgba(22, 22, 22, 0.06) 56%,rgba(170, 170, 170, 0.06) 56%, rgba(170, 170, 170, 0.06) 100%),linear-gradient(15deg, rgba(172, 172, 172, 0.1) 0%, rgba(172, 172, 172, 0.1) 55%,rgba(157, 157, 157, 0.1) 55%, rgba(157, 157, 157, 0.1) 100%),linear-gradient(241deg, rgba(54, 54, 54, 0.06) 0%, rgba(54, 54, 54, 0.06) 34%,rgba(232, 232, 232, 0.06) 34%, rgba(232, 232, 232, 0.06) 100%),linear-gradient(222deg, rgba(129, 129, 129, 0.08) 0%, rgba(129, 129, 129, 0.08) 91%,rgba(169, 169, 169, 0.08) 91%, rgba(169, 169, 169, 0.08) 100%),linear-gradient(90deg, rgb(175, 20, 224),rgb(228, 14, 67));
$appBackground:rgba(black,0.9);   
// $appBackground: black; // Main Background color
$appText:white; // Main Text color
$appHeading:Purple; // Main header color
// ----------------------------------------------------------------------------
// Landing Section Colors
// ----------------------------------------------------------------------------
$Landing_T: rgba(white,0.6);

// ----------------------------------------------------------------------------
// Project Section Colors
// ----------------------------------------------------------------------------
$Project: rgba(white, 0.2);// Project background color
$Project_T: black;//Project text color
$Project_H: purple;//Project header color
$ProjectSub:transparent; //Project sub divs background.
$Project_Lang_B: rgba(white,0.2);//Project Lang color
$Project_Lang_A: rgba(grey,0.5);//hover lang
$Project_Lang_T:black;
$Project_Tag_B: rgba(blue,0.1); // Project Tag Background
$Project_Tag_A: rgba(grey,0.5);//Project Tag Hover color    
$Project_Tag_T:white;//Project Tag text color
// ----------------------------------------------------------------------------
// Social Bar Pallete
// ----------------------------------------------------------------------------
$Social: rgba(black,0); // Social Bar background
$Social_T: white; //Socaal Bar Text;
$Soical_H: rgba(gray, 0.5); // Social Item Hover 
// $Social_I: rgba(red,.6); //Social Item Color
$Social_I:linear-gradient(to bottom right,white,lightgrey);



